<div class="intro">
  <div class="logo">
    bill tracker
    <hr>
  </div>
  <p>Welcome to Bill Tracker. </p>

  Simply enter the State's Abbreviation and Bill Number below and press Search to track legislation that is important to
  you.

  <hr>
</div>
<div class="bill_search">
  <div class="search_form_container">
    <%= form_tag({:controller => :welcome, :action => :show}) do %>
        <div class="form-group">
          <%= label_tag :year, nil, class: "control-label" %>
          <div class="controls">
            <%= text_field_tag :year, nil, class: "form-control", autofocus: true %> If no date is entered, the default will be the current legislative session
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :state, nil, class: "control-label" %>
          <div class="controls">
            <%= text_field_tag :state, nil, class: "form-control", autofocus: true, placeholder: "eg: CO" %>
          </div>
        </div>
        <div class="form-group">
          <%= label_tag :bill, nil, class: "control-label" %>
          <div class="">
            <%= text_field_tag :bill, nil, class: "form-control", placeholder: "eg: HB1030" %>
          </div>
        </div>
        <div class="">
          <%= submit_tag 'Search', :id => 'search_submit' %> &nbsp;  <a class="btn btn-small btn-primary" href="/">Reset</a>
        </div>
    <% end %>
  </div>
  <hr>

  <% if @bill_results %>
      <% if @bill_results["status"] == "ERROR" %>
          <div class="errors" style="font-size: 20px; color:red"> There was an error with your search, please try again
          </div>
      <% else %>

          <%= render "results" %>

          </div>
      <% end %>
  <% end %>
  </div>
  </div>